<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Spotybot">

    <title>Spotify Bot</title>

    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <section>
      <h1>Spotify Bot</h1>
      <h2>books - emotions - music</h2>
      <img class="img" src="images/spotify-bot.png" alt="Spotify Bot">
      <table>
        <tbody>
          <tr>
            <td><button><i class="fa fa-microphone"></i></button></td>
            <td><em class="text">Press the mic and read a meaningful sentence from your book.</em></td>
          </tr>
        </tbody>
      </table>
      <div><em class="output-you">...</em></div>
    </section>

    <section>
     <iframe class="playlist" src=""frameBorder="0" allow="autoplay"></iframe>
    </section>

    <script src="js/script.js"></script>
  </body>
</html>
