<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Spotybot">

    <title>Spotify Bot</title>

    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <section>
      <h1>Spotify Bot</h1>

      <button><i class="fa fa-microphone"></i></button>

      <div>
          <p>You said: <em class="output-you">...</em></p>
      </div>
    </section>

    <section>
     <iframe class="playlist" style="border-radius:12px" src=""
      width="100%" height="380" frameBorder="0" allow="autoplay">
     </iframe>
    </section>

    <script src="js/script.js"></script>
  </body>
</html>
