html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  background: #f7f7f7 url(../images/geometry.png) 0 0 no-repeat;
  background-size: cover;
  color: #333;
}
h1, h2, h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
  text-align: center;
}
h1 {
  font-weight: 600;
  font-size: 3em;
}
h2 {
  font-weight: 300;
}
section {
  margin: 1.5em auto;
  width: 450px;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 50%;
  margin: 3em 1em 3em;
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #801f78 0%, #c93fb9 80%, #c93f86 100%);
  box-shadow: 2px 5px 7px rgba(234, 161, 226, 0.4);
  will-change: transform, filter;
  transition: all 0.3s ease-out;
}
button .fa {
  font-size: 45px;
  line-height: 65px;
  text-shadow: 1px 2px 2px #902a77;
}
button:hover {
  transform: scale(.92);
}
button:active {
  filter: brightness(.8);
}
button:focus {
  outline: 0;
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 2em 0em 0em;
}
.output-you {
  border-style: dotted;
  padding: 2em;
  display: block;
}
.playlist {
  border-radius:12px;
  width: 100%;
  height: 380px;
}
